<!-- <div class="flex items-center justify-center bg-[#D1D5DB] rounded-lg p-6">
    <div class="flex items-center space-x-4">
        <img class="w-12 h-12 md:w-16 md:h-16 rounded-full" src="assets/img/Tewdros.jpg" alt="Yonas Dereje">
        <div>
            <p class="text-lg font-medium text-gray-900">Yonas Dereje</p>
            <p class="text-sm text-gray-500">UAE</p>
        </div>
    </div>
</div> -->

<div class="flex items-center justify-center bg-[#D1D5DB] rounded-lg p-6">
    <div class="flex items-center space-x-4">
      <img class="w-12 h-12 md:w-16 md:h-16 rounded-full" [src]="imageSrc" alt="{{ name }}">
      <div>
        <p class="text-lg font-medium text-gray-900">{{ name }}</p>
        <p class="text-sm text-gray-500">{{ location }}</p>
      </div>
    </div>
  </div>
  