.iti {
    display: flex; 
    align-items: center; 
    width: 100%; 
  }
  ngx-intl-tel-input {
    width: 300px !important; 
    margin-right: 10px;
  }





  .iti__flag-container {
    margin-right: 8px; 
    padding-left: 12px;
    padding-right: 12px; 
  }
  
 
  .iti__selected-flag {
    display: flex; 
    align-items: center;
    padding-bottom: 4px;
  }
  
  .iti__arrow {
    margin-left: 8px; 
  }

  .iti .iti__country-list {
    max-height: 300px; /* Adjust the height as needed */
    max-width: 400px; /* Adjust the width to make the dropdown wider */
    overflow-y: auto;  
    border-radius: 4px; 
    padding: 8px; /* Optional: adds padding inside the dropdown */
}
  
  .iti .iti__country-list::-webkit-scrollbar {
    width: 6px;
  }
  
  .iti .iti__country-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  
  
  .iti__flag-container {
    padding-top: 4px;
    margin-left: 4px; 
    
    margin-right: 4px; 
    border-radius: 4px; 
  }


.iti input {
    flex-grow: 1; 
    width: 100%;
    padding-left: 12px; 
    box-sizing: border-box;
    border: none; 
    outline: none; 
    box-shadow: none;  
    margin: 6px;
}

.iti__selected-flag {
    display: flex; 
    align-items: center;
    border-radius: 4px; 
}

.iti__arrow {
    margin-left: 4px; 
}

.iti .iti__country-list {
    max-height: 200px;
    overflow-y: auto;  
    border-radius: 4px; 
}

.iti .iti__country-list::-webkit-scrollbar {
    width: 8px;
}

.intl-tel-input .flag-box {
  width: 60px; 
  height: 60px; 
}

  
@tailwind base;
@tailwind components;
@tailwind utilities;

